@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');

/*font-family: 'Roboto Serif', serif;*/
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Serif', serif;
}
body{
    background: rgba(0, 234, 220, 1);
    background: -webkit-linear-gradient(to bottom,rgba(0, 234, 220, 1), #0C3DEB);
    background: linear-gradient(to bottom, rgba(0, 234, 220, 1), #0C3DEB);
    background-size: cover;
    background-position-x: center;
}
#general_section{
    display: flex;
    width: 90%;
    margin: 5vh 5%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0 25px 45px rgba(0,0,0,0,0.5);
    box-shadow: 0 15px 50px rgb(0,0,0,0.1);
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0px 0px 14px -1px rgba(76, 76, 76, 0.75);
}
/*estilos del menu lateral izquierdo*/
#general_section .left_menu{
    width: 120px;
    height: 100%;
    border-right: 1.5px dotted #e1e1e1;
    border-radius: 20px 0px 0px 20px;
}
#general_section img{
    width: 60%;
    height: auto;
    
}
#general_section nav{
    margin-top: 120px;
    text-align: center;
}
#general_section li{
    margin: 15px auto;
    list-style: none;
}
#general_section .fa-solid{
    width: 100px;
    color: #ffffff;
    font-size: 28px;
    height: 60px;
}
#general_section .fa-solid:hover{
    color: aqua;
}
#general_section .exit{
    width: 100%;
    margin-top: 120px;
    font-size: 35px;
    text-align: center;
}

/*estilos del menu central*/

#general_section .central{
    width: calc(100% - 420px);
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0 25px 45px rgba(0,0,0,0,0.5);
    box-shadow: 0 15px 50px rgb(0,0,0,0.1);
    border-radius: 9px;
}

/*Estilos del menu lateral derecho*/

#general_section .right_menu{
    width: 300px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
}
#general_section .right_menu .profile{
    text-align: center;
    margin-top: 100px;
}
#general_section .right_menu .profile img{
    border-radius: 20px;
    width: 100px;
    height: 100px;
}
#general_section .right_menu .profile p{
    font-weight: bold;
    color: #fff;
    font-size: 15px;
}
#general_section .right_menu .profile span{
    font-weight: normal;
    font-size: 13px;
    color: rgb(5, 5, 5);
}
.sepa{
    margin: 15px 10%;
    width: 80%;
    border: 0.5px solid #b8b8b8;
}
.last_tras{
    margin: auto;
    width: 80%;
    height: auto;
}
.last_tras h2{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}
.last_tras span{
    color: #202d39c4 !important;
    font-weight: bold;
}
.last_tras .t_i span, .last_tras .t_i p{
    margin: 7px auto;
    font-size: 13px;
    color: #ffffff;
    text-align: justify;
}

.left_menu img{
    margin-top: 20px;
    margin-left: 22px;;
}

/*ESTILO ADICIONAL OPC1*/

#modulo2, #modulo3, #modulo4, #modulo5{
    display: none;
}
.central img{
    width: 500px !important;
}
